<%- include('../include/header')%>
    <link rel="stylesheet" href="/static/css/calendar2.css">
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <%- include('../include/nav_default')%>
      <div style="display:flex;">
        <div class="calendar"></div>
        <div class="memo"></div>
      </div>
      <script src="/static/js/calendar2.js"></script>
</body>
</html>