@font-face {
    font-family: 'Jalnan';
    src: local('Jalnan'),url('../include/font/Jalnan.ttf');
}
@font-face {
    font-family: 'SCDream5';
    src: local('SCDream5'),url('../include/font/SCDream5.otf');
}

* { font-family: 'SCDream5', sans-serif; }
body {  background-color: var(--color-main); }
:root {
    --color-main: #f7f1ed; --color-pink: #febeb0; --color-deepgreen: #3d5a5b; --color-indigo: #2f365f;
}

.container{width:100%;padding-right:var(--bs-gutter-x,.75rem);padding-left:var(--bs-gutter-x,.75rem);margin-right:auto;margin-left:auto}
@media (min-width:576px){.container{max-width:540px}}
@media (min-width:768px){.container{max-width:720px}}
@media (min-width:992px){.container{max-width:960px}}
@media (min-width:1200px){.container{max-width:1140px}}
@media (min-width:1400px){.container{max-width:1320px}}

.d-block{display: block;}
.d-none{display:none;}
.d-flex{display:flex;}

.justify-content-center{justify-content: center;}
.align-items-center{align-items: center;}

.row { display: flex; flex-wrap: wrap; }
.col-2 { flex: 0 0 auto; width: 16.66666667%; }
.col-3 { flex: 0 0 auto; width: 25%; }
.col-4 { flex: 0 0 auto; width: 33.33333333%; }
.col-6 { flex: 0 0 auto; width: 50%; }
.col-8 { flex: 0 0 auto; width: 66.66666667%; }
.col-9 { flex: 0 0 auto; width: 75%}
.col-10 { flex: 0 0 auto; width: 83.33333333%; }
.col-12 { flex: 0 0 auto; width: 100%; }

input[type=text], input[type=password], select, textarea {
	background-color: #eee;
	border: none;
	padding: 10px 15px;
	margin: 10px 0;
	width: 100%;
    color: var(--color-indigo);
}
input.input_login,
select.select_login { background-color: var(--color-indigo); color: var(--color-main); }
input::placeholder,
select.select_login option { color: #b1afad; }

button {
	border-radius: 20px;
	border: 1px solid var(--color-pink);
	background-color: var(--color-pink);
	color: var(--color-indigo);
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	margin: 10px 0;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}
button:active { transform: scale(0.95); }
button:focus { outline: none; }
button:hover { cursor: pointer; transform: scale(1.1); }
button.ghost { background-color: transparent; border-color: var(--color-indigo); }

pre { overflow-wrap: normal; text-align: start; }