@font-face {
    font-family: 'Jalnan';
    src: local('Jalnan'),url('../include/font/Jalnan.ttf');
}
@font-face {
    font-family: 'SCDream5';
    src: local('SCDream5'),url('../include/font/SCDream5.otf');
}

* { font-family: 'SCDream5', sans-serif; }
body {  background-color: var(--color-main); }
:root {
    --color-main: #f7f1ed; --color-pink: #febeb0; --color-deepgreen: #3d5a5b; --color-indigo: #2f365f;
}

.container{width:100%;padding-right:var(--bs-gutter-x,.75rem);padding-left:var(--bs-gutter-x,.75rem);margin-right:auto;margin-left:auto}
@media (min-width:576px){.container{max-width:540px}}
@media (min-width:768px){.container{max-width:720px}}
@media (min-width:992px){.container{max-width:960px}}
@media (min-width:1200px){.container{max-width:1140px}}
@media (min-width:1400px){.container{max-width:1320px}}

.d-block{display: block;}
.d-none{display:none;}
.d-flex{display:flex;}

input, select {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
    color: var(--color-main);
}
input.input_login,
select.select_login {
	background-color: var(--color-indigo);
}
input.input_login::placeholder,
select.select_login option {
    color: #b1afad;
}
textarea {
    padding: 0 1em; 
    border: 0;
    width: 100%;
    border-radius: 30px;
}