<style>
    .title {
        background-color: rgba(0,0,0,0);
        padding: 10px;
        display: flex;
        justify-content: space-between;
    }
    .plus_sign:hover {
        cursor: pointer;
        color: var(--color-indigo);
    }
    .swiper {
        padding: 10px 20px;
    }
    .today_goal {
        border: 3px var(--color-deepgreen) solid;
        border-radius: 10px;
        width: 100%;
        min-height: 200px;
        justify-content: center;
    }
    .today_goal .today_write {
        padding: 10px 20px;
        background-color: var(--color-indigo);
        width: 80%;
    }
    .today_goal .today_none {
        color: var(--color-indigo);
        font-size: 1.4rem;
        display: flex;
        min-height: 180px;
        height: 20%;
        justify-content: center;
        align-items: center;
    }
    div .swiper-slide {
        background-color: blue;
        width: 100px;
        height: 170px;
    }
    .form_list_input input,textarea {
        padding: 0 1em; 
        border: 0;
        height: 38px;
        width: 100%;
        border-radius: 30px;
    }
    .form_list_input input:focus {
        outline: none;
    }
    .form_list_input input::placeholder {
        font-weight: 300;
        color: #aaa;
    }
</style>
<script>
    function todayWrite(){
        console.log( "hello" );
        if ( $("#today_write").hasClass("d-none") ) $("#today_write").removeClass("d-none").addClass("d-flex");
        else $("#today_write").removeClass("d-flex").addClass("d-none");
    }
</script>

<div class="title">
    <div><h1> 오늘의 챌린지 ✨ </h1></div>
    <div><h1> <span class="glyphicons glyphicons-plus-sign plus_sign" onclick="todayWrite();"></span> </h1></div>
</div>
<div class="today_goal">
    <div id="today_write" class="d-none" style="width: 100%; justify-content: center; padding: 10px 0;">
        <div class="today_write">
            <form class="form_list_input">
                <input type="text" name="title" placeholder="제목">
                <textarea name="detail" placeholder="상세내용" rows="3"></textarea>
            </form>
        </div>
    </div>
    <div class="swiper">
        <% if ( daily.length != 0 ) { %>
        <div class="swiper-wrapper">
            <% daily.forEach((goal) => { %>
                <div class="swiper-slide">Slide 1</div>
            <% }) %>
        </div>
            <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        
        <!-- If we need scrollbar -->
        <div class="swiper-scrollbar"></div>
        <% } else { %>
        <div class="today_none">
            오늘의 목표가 없습니다. 목표를 등록해주세요.
        </div>
        <% } %>
    </div>
</div>

<script>
    $(document).ready(() => {
        const swiper = new Swiper('.swiper', {
            // Optional parameters
            direction: 'horizontal',
            loop: true,
            slidesPerView: 3,
            spaceBetween: 30,
            
            centeredSlides: true,
            grapCursor: true,
            pagination: {
                el: '.swiper-pagination',
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            scrollbar: {
                el: '.swiper-scrollbar',
            },
        });
    })
</script>