<%- include('../include/header')%>
    <script type="module">
        import API from "/static/js/API.js";
        window.API = API;
    </script>
    <script>
        function login(){
            var form = document.getElementById("form_login");
            axios({
                method: 'post',
                url: 'http://localhost:8000/visitor/write',
                data: {
                    name: form.name.value,
                    comment: form.comment.value
                }
            })
            .then((rep) => { return rep.data; })
            .then((data) => {
            });
        }
    </script>
</head>

<body>
    <form id="form_login">
        <input type="text" name="nickname" placeholder="닉네임">
        <input type="password" name="pw" placeholder="비밀번호">
        <button type="button" onclick="login();">로그인</button>
    </form>
</body>
</html>