<html>
    <head>
        <title>Gollector</title>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="/static/js/constant.js"></script>

        <link rel="stylesheet" href="/static/include/glyphicons_pro_1_9_2/css/glyphicons.css">
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        
        <script type="module">
            import { API, MSG } from "/static/js/tools.js";
            window.API = new API();
            window.MSG = new MSG();
        </script>